* {
    box-sizing: border-box;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
}
.wrapper {
    margin-right: auto; 
	margin-left:  auto; 
	max-width: 1200px; 
	padding-right: 20px;
	padding-left:  20px;
}
header {
    width: 100vw;
    height: 99vh;
    max-width: 1200px;
    background-image: url(src/img/images/header/illustrationBlock1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin-top: 20px;
}
.left-nav, .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    list-style: none;
    font-weight: 800;
    font-size: 12px;
}
a {
    color: #3c414c; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.left-nav img {
    width: 120px;
}
.right-nav img {
    width: 15px;
}
.right-nav button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
    color: #3c414c;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    width: 85px;
}
.right-nav li .header-crt-sign {
    display: block;
    width: 170px;
    height: 38px;
    background-color: #3bae75;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 650;
    text-align: center;
}
.header-content {
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
}
h1 {
    font-size: 36px;
    font-weight: bolder;
}
.header-content p {
    line-height: 30px;
    font-weight: 800;
    opacity: .6;
}
.header-content button {
    width: 175px;
    height: 50px;
    background-color: #3bae75;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 650;
    text-align: center;
}