* {
    box-sizing: border-box;
    
}
body {
    margin: 0px;
    padding: 0px;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
}
.wrapper {
    margin-right: auto; 
	margin-left:  auto;
	max-width: 1200px;
}
header {
    width: 100vw;
    height: 99vh;
    background-image: url(src/img/images/header/illustrationBlock1.png);
    background-repeat: no-repeat;
    background-position: right bottom;
}
header nav {
    display: flex;
    justify-content: space-between;
    padding: auto;
    margin-top: 20px;
}
.left-nav, .right-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 380px;
    list-style: none;
    font-weight: 800;
    font-size: 12px;
}
a {
    color: #3c414c; 
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
}
.left-nav img {
    width: 120px;
}
.right-nav img {
    width: 15px;
}
.right-nav button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    border: none;
    font-family: "Quicksand";
    -webkit-font-smoothing: antialiased;
    color: #3c414c;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 12px;
    width: 85px;
}
.right-nav li .header-crt-sign {
    display: block;
    width: 170px;
    height: 38px;
    background-color: #3bae75;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 650;
    text-align: center;
}
.header-content {
    margin-top: 35vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 35vw;
}
h1 {
    font-size: 36px;
    font-weight: bolder;
}
p {
    line-height: 30px;
    font-weight: 800;
    opacity: .6;
}
.header-content button {
    width: 175px;
    height: 50px;
    background-color: #3bae75;
    border-radius: 6px;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: 650;
    text-align: center;
}
/* Main (body) section coding */
.first-body-container, .second-body-container, .third-body-container, .fourth-body-container {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.first-body-container {
    background-image: url(src/img/images/block2/illustrationblock2.png);
    background-repeat: no-repeat;
    background-position: left top;
}
.h2-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40vw;
}
.h2-container h2, .h2-container p{
    text-align: center;
}
.features-container-row1, .features-container-row2 {
    display: flex;
    margin-top: 50px;
    width: 65vw;
}
.companies-list img {
    width: 68vw;
}
.signatures-buttons {
    width: 80vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(src/img/images/block4/pricingbackround\ lineblock4.png);
}
/* Button styling */
.sign-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 220px;
    height: 300px;
    background-color: #fff;
    border: whitesmoke 1px solid;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0,0,0,.1);
}
.btn-header {
    text-align: center;
}
.btn-header h4 {
    text-transform: uppercase;
}
.btn-header p {
    opacity: .6;
    font-size: 14px;
}
.btn-body {
    display: flex;
    align-items: center;
}
.btn-body .dollar-smb {
    font-size: 20px;
    margin-bottom: 50px;
}
.btn-body .price{
    font-size: 60px;
    color: #3bae75;
    opacity: 1;
}
.btn-body .month {
    margin-top: 50px;
}
.btn-footer button {
    width: 220px;
    height: 50px;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #3bae75;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
}

